body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

html, body
{
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
  
    touch-action: manipulation;
}

* {
  box-sizing: border-box;
}

h2 {
    margin: 0em;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.main-section {
  text-align: center;
  flex: 2;
}

.header {
  padding: 0.5em;
}

.header .links {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;

  list-style: none;
  margin: 0em;
  padding: 0em;
}

.header .links .link {

}

.button {
  font-size: 4em;
  height: 100%;
  background: rgba(155, 155, 155, 0.1);
  
  display: inline-block;
  width: 35%;

  border: 0px none;
  padding: 0em; /* safari adds padding:1em */
}

.horizontal-button-flex {
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.horizontal-button-flex .midsection {
    display: inline-block;
	  width: 30%;
}

#loadingPageOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100000;

  background: url('../images/amber-background.png') repeat;
  background-size: 270px 270px;

  display: flex;
  justify-content: center;
  align-items: center;
}
#loadingPageOverlay .sk-folding-cube .sk-cube:before {
  background-color: rgba(114, 26, 29, 1.0);
}

/* safari hacks */
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
-webkit-appearance: none;
border-radius: 0;
}
