body {
  font-family: 'Roboto', sans-serif;
  font-size: 16pt;
  margin: 0;
  padding: 0;
}

html, body
{
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
}

* {
  box-sizing: border-box;
}

h2 {
    margin: 0em;
}

.main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    width: 100%;
}

.main-section {
  text-align: center;
  flex: 2;
}

.footer {
  padding: 0.5em;
}

.footer .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;

  list-style: none;
  margin: 0em;
}

.footer .links .link {

}

.button {
  font-size: 4em;
  height: 100%;
  background: rgba(155, 155, 155, 0.1);

  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  -ms-flex-positive:2;
      flex-grow:2;
  -ms-flex-negative:1;
      flex-shrink:1;
  -ms-flex-preferred-size:100%;
      flex-basis:100%;
}

.horizontal-button-flex {
    margin: auto;
    height: 100%;
    width: 100%;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
            align-items: center;
}

.horizontal-button-flex .midsection {
    -webkit-box-flex:1;
    -ms-flex-positive:1;
    flex-grow:1;
    -ms-flex-negative:1;
        flex-shrink:1;
    -ms-flex-preferred-size:100%;
        flex-basis:100%;
}

#loadingPageOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100000;

  background: url('../images/amber-background.png') repeat;
  background-size: 270px 270px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
            align-items: center;
}
#loadingPageOverlay .sk-folding-cube .sk-cube:before {
  background-color: rgba(114, 26, 29, 1.0);
}

/* safari hacks */
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
    -webkit-appearance: none;
    border-radius: 0;
}
