.keys {
  background: rgba(114, 26, 29, 1.0);
  color: white;
  flex: 1;

  display: flex;
  align-items: center;

  border-top: 0.25em solid rgb(2,0,0);
  border-bottom: 0.25em solid rgb(52,2,8);

  padding: 0.4em;
}

.keylist {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.key {
  flex: 1;
  margin: 0.5em auto;
}
.key img {
  max-width: 98%;
  max-height: 98%;
  height: auto;
  min-height: 5em;
  min-width: 5em;
}
