.keys {
  background: rgba(114, 26, 29, 1.0);
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  border-top: 0.25em solid rgb(2,0,0);
  border-bottom: 0.25em solid rgb(52,2,8);

  padding: 0.4em;
  margin: 0 auto;
  list-style: none;
  width: 100%;
  flex: none;
}

.key {
  padding: 0.5em;
}
.key img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
}

@media only screen
  and (max-device-width: 640px) {

  .keys {
      height: 6em;
  }
  .key {
    margin: 0.5em;
  }

  .key img {
      min-width: auto;
      min-height: auto;
  }
}
