.keys {
  background: rgba(114, 26, 29, 1.0);
  color: white;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  border-top: 0.25em solid rgb(2,0,0);
  border-bottom: 0.25em solid rgb(52,2,8);

  padding: 0.4em;
  margin: 0 auto;
  list-style: none;
  width: 100%;
  height: 10em;

  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.key {
  margin: 1em;
}
.key img {
  max-width: 98%;
  max-height: 98%;
  height: auto;
  min-height: 5em;
  min-width: 5em;
}
