.amber {
  background: url('../images/amber-background.png') repeat;
  background-size: 270px 270px;
  max-width: 100%;
}

.amber .info .figure {
  margin-top: 0em;
}

.amber #amber-amount {
  font-size: 3em;
}

.amber .button span {
  background: #f0f0f0;
}
